.bar-container {
    width: 400px;
    display: flex;
    justify-content: center;

    & input {
        height: 40px;
        width: 200px;
    }

    & .ant-input-search-button {
        height: 40px;
    }
}