$principal: #141301;
$secondary: #F0EDEE;
$blue: #07393C;
$red: #B80C09;

$gray-400: #868eb7;
$gray-300: #a1acc2;
$gray-200: #cad7e6;
$gray-100: #e4edf0;

.container { 
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   column-gap: 10px;
   row-gap: 10px;
}